extends layout

block content

  #banner.jumbotron
    .container
      .containerleft <a class="logo" href="/"><img src="/img/logo.png" alt="logo"/></a><a href="/learn" >Εκμάθηση</a> <a href="/train" >Εκπαίδευση</a> <a href="/" >Παιχνίδι</a>
      .containerright  <ul class="teo-navbar-right"> <li class="dropdown open" style="margin-right:15px"> <img id="prof" class="prof" alt="0" src="/img/prof.png"> <a class="dropdown-toggle" style="color:white!important" href="#" > sofo koutoulas <b class="caret"></b> </a> 
                      <ul id="streaker" class="nav navbar-nav navbar-right" title="" > <li> <img id="streak" class="streak" alt="0" src="/img/cup.png"> </li> <li> <div id="current-streak" class="current-streak"> &nbsp;&nbsp;3 </div> </li> </ul><ul class="dropdown-menu"> <li> <a href="/invitation"> Προσκλήσεις </a> </li> <li> <a href="/dashboard">Πίνακας ενημερώσεων</a> </li> <li> <a href="/profile">Προφίλ</a> </li> <li> <a href="/settings">Ρυθμίσεις </a> </li> </ul> </li>  </ul>





     

  
  
  .container
  
    .row
      .col-sm-6

       

  .bottom-menu-tee
         .container 
           .row 
              .col-md-8 <span class="navbar-brand"> <a href="#"> <img src="/img/logo.png" alt="Minilogo" width="30"> </a> </span> <ul class="bottom-links"> <li> <a href="#">Η εταιρία</a> </li> <li> <a href="#">Συζήτηση</a> </li> <li> <a href="#">Συχνές Ερωτήσεις</a> </li> <li> <a href="#">Επικοινωνία</a> </li> <li> <a href="#">Ιδιωτικότητα</a> </li> </ul> </div> <div class="col-md-4"> <ul class="bottom-icons" style="float:right"> <li class="copyright"> © 2015 Web Chess Msc. </li> <li>   </li> </ul> 
  script(src="/js/jquery.min.js")
  script(src="/js/bootstrap.min.js")